@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import "typescale";
:root {
  /* CSS HEX */
  --silver: #c3c3c3ff;
  --light-gray: #d6d6d6ff;
  --khaki-x-11-light-khaki: #ebe284ff;
  --aureolin: #ffee32ff;
  --cyber-yellow: #ffd100ff;
  --eerie-black: #202020ff;
  --jet: #2a2b2aff;
  --black-olive: #464746ff;

  /* CSS HSL */
  --silver: hsla(0, 0%, 76%, 1);
  --light-gray: hsla(0, 0%, 84%, 1);
  --khaki-x-11-light-khaki: hsla(55, 72%, 72%, 1);
  --aureolin: hsla(55, 100%, 60%, 1);
  --cyber-yellow: hsla(49, 100%, 50%, 1);
  --eerie-black: hsla(0, 0%, 13%, 1);
  --jet: hsla(120, 1%, 17%, 1);
  --black-olive: hsla(120, 1%, 28%, 1);
}
html,
body {
  height: 100%;
  /* width: 100%;*/
  font-family: "Poppins", sans-serif;
  color: var(--black-olive);
  font-size: 12px;
}
.navbar {
  padding: 0.8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px red;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: var(--cyber-yellow);
  color: var(--eerie-black);
  border: 1px solid var(--silver);
}
.btn-primary:hover {
  background-color: var(--aureolin);
  border: 1px solid var(--black-olive);
}
.border-radius {
  border-radius: 1rem;
}
.jumbotron {
  border-radius: none;
}
.welcome {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.padding {
  padding-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.img-fluid {
  height: auto;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-youtube {
  color: #bb0000;
}
.fa-instagram {
  color: #517fa4;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
footer {
  background-color: var(--jet);
  color: var(--light-gray);
  margin-top: 2rem;
  width: 100%;
}
footer a {
  color: #d5d5d5;
}
hr.light {
  border-top: 1px solid var(--silver);
  width: 75%;
  margin-top: 00.8rem;
  margin-bottom: 1rem;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
hr.light-100 {
  border-top: 1px solid var(--silver);
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("img/selective-closeup-shot-black-globe.jpeg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*---sign Up Form --*/

.container-fluid {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--eerie-black) !important;
  background-image: url(images/masked_deliveryhwange-delivery-service_hand2hand-4.jpg);
  background-blend-mode: difference;
  background-attachment: fixed;
}
.pickUp,
.delivery {
  border: 1px solid red;
}

.formContainer {
  width: 50%;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 10rem;
  box-shadow: 10px var(--light-gray);
  border-radius: 0.5rem;
}

.signUpForm h3 {
  font-weight: 500;
  text-shadow: 1px 1px 20px var(--khaki-x-11-light-khaki);
}

.container {
  position: relative;
  background-image: url(images/delivery_manhwange-delivery-service_hand2hand-7.jpg);
  background-blend-mode: difference;
  background-attachment: fixed;
}
.container-fluid img {
  width: 100%;
  height: 100%;
}
.formContainer {
  margin: 0 auto;
  position: absolute;
  top: 100px;
  border-radius: 10px;
}

.form {
  padding: 30px 40px;
}
input {
  height: 2.56rem;
}

.input-grp {
  margin: 1.82rem 0.69rem;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsla(0, 0%, 84%, 0.51);
  color: var(--black-olive);
}

.input-grp label {
  display: block;
  width: 100%;
}

.input-grp input {
  border: 1px solid var(--aureolin);
  border-radius: 5px;
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  /* background-color: var(--khaki-x-11-light-khaki); */
}

.input-grp input:focus {
  outline: 0; /* 
  border-color: var(--light-gray); */
}

.input-grp select {
  width: 100%;
}

.input-grp select option {
  width: 100%;
  background-color: var(--khaki-x-11-light-khaki);
}

.input-grp.success input {
  border-color: #2ecc71;
}
.input-grp.success select {
  border-color: #2ecc71;
}

.input-grp.error input {
  border-color: #e74c3c;
}

.input-grp.error select {
  border-color: #e74c3c;
  color: #e74c3c;
}

.input-grp i {
  visibility: hidden;
  position: absolute;
  top: 50%;
  translate: y(-50%);
  right: 20px;
}

.input-grp.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.input-grp.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.input-grp small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 10px;
  visibility: hidden;
}

.input-grp.error small {
  visibility: visible;
}
/* .error {
  border: 2px solid red;
}
.success {
  border: 2px solid green;
} */
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.form button {
  background-color: var(--cyber-yellow);
  border: 1px solid var(--khaki-x-11-light-khaki);
  border-radius: 2px;
  color: var(--black-olive);
  display: block;
  font-family: inherit;
  font-size: 1rem;
  padding: 10px;
  margin-top: 1rem;
  width: 100%;
}
.selectOption {
  width: 100%;
  color: var(--jet);
  background-color: aqua;
  border: 1px solid red;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .signUpForm {
    width: 100%;
  }

  .carousel-caption {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }
  .carousel-caption h1 {
    font-size: 350%;
    text-shadow: 1px 1px 10px #000;
  }
  .carousel-caption h3 {
    font-size: 150%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5rem;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    position: absolute;
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2rem;
    padding: 0.7rem;
  }
  .signUpForm {
    width: 100%;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
